[2014-10-28 12:24] FelixSchwarz opened #35 "wsdl2py fails if included schema has no explicit targetNamespace set"

[2015-01-17 18:54] gudddu opened #45 "Soapfish wsdl2py Error"
I downloaded the ZIP (soapfish-master.zip) from https://github.com/FelixSchwarz/soapfish

I am on Windows 7 and Python 2.7

I am getting relative imports error when executing wsdl2py

So i had to replace at all places where relative import was done

and

and likewise.

Following that, the wsdl2py command gives this error. The WSDL I am working with is at http://dpaste.com/2XP4NP6

The Traceback is

[2015-02-06 11:32] iurisilvio opened #46 "xsd:include support"
@FelixSchwarz  I was looking for `xsd:include` support in soapbox and you said soapfish implemented it. I didn't found anything about it in your code.

Can you help me with it?

[2015-02-06 12:05] iurisilvio opened #47 "Relative imports"
Imports with relative schemaLocation does not work.

For example:

file1.xsd

[code]

folder/file2.xsd

[code]

The `file3.xsd` must load `./folder/file3.xsd`, but try to load `./file3.xsd`.

I need some way to recover the parent xsd path during imports to fix this issue.

[2015-02-06 12:33] FelixSchwarz commented on #46
What do you need? Basically you use the same cli tools as with soapbox (e.g. wsdl2py) and it should just work. Can you give me a specific example (e.g. wsdl url)?

[2015-02-06 12:35] FelixSchwarz commented on #47
good point, maybe I skipped that in my implementation (my service uses only absolute imports). Can you create a minimal example so I can check if that can be implemented in a simple way? patches welcome of course.

[2015-02-06 12:57] iurisilvio commented on #47
I tried to patch soapbox (and soapfish is not too different), but I had some complicated edge cases.

I'll create an example with my import issues. Of course, I'll patch soapfish to solve my problem.

[2015-02-19 13:05] iurisilvio commented on #46
I tried a WSDL with a `xsd:include` tag and it does not work.

I created a `xsd:include`  example based on your own example: https://github.com/iurisilvio/soapfish/commit/6798df69f82e31f157fcbc77228bfd57865434cd

For now, I'm using wsdl2java and translating all SOAP requests to my RESTful services. It is painful, I really want a Python solution. I tested this WSDL with it and worked fine.

[2015-02-19 16:31] iurisilvio commented on #35
I sent the #48 to fix this issue.

[2015-02-20 15:22] #35 closed

[2015-02-23 17:03] iurisilvio opened #49 "Schema imports with same namespace does not work"
I have some imports with the same namespace. It is weird, but it is a valid structure.

[code]

The soapfish doesn't import the `service.xsd` because it already visited the `namespace="http://www.example.com"`.

[2015-03-21 16:05] iurisilvio commented on #49
My suggestion to fix this issue is to build the entire schema in memory and write the output only after that.

I'll work on it, but it is not an easy task.

[2015-09-19 01:21] iurisilvio opened #52 "xsd.Decimal type does not accept a Decimal value"
A `Decimal` value is better than a `float`. It works with a string too, but I had to read the code to discover it.

https://github.com/FelixSchwarz/soapfish/blob/master/soapfish/xsd.py#L311

[2015-11-22 23:58] iurisilvio opened #57 "Evaluate generated location"
The generated file has some template URLs:

[code]

The SOAP dispatcher must render this location.

[2015-11-23 10:58] FelixSchwarz opened #59 "support unittest.expectedFailure in plain nosetests"
Using expectedFailure is much better than raising SkipTest because the latter will prevent the code from being executed which will lead to bit-rot. However nosetests (v1) doesn't support that so maybe I should add some support in PythonicTestCase (e.g. custom decorator).

The decorator should
- translate a failure to SkipTest if the test runner does not support expected failures.
- emit a message

[2015-11-23 11:32] FelixSchwarz commented on #52
fixed in 76c0acf52bc5d39c3010a4b3c2c77013f899d2e7

[2015-11-23 11:32] #52 closed

[2015-11-23 22:31] #57 closed

[2015-11-24 19:55] #47 closed

[2015-11-24 22:59] iurisilvio opened #62 "Simple type restriction generate invalid Python code"
I just get the biggest WSDL I have here and tried `wsdl2py`. It almost worked. I'm just reporting some issues I found, but it is not critical to me now.

This WSDL generate an invalid Python code.

[code]

This is the broken `class ComplexType` generated:

[code]

[2015-12-02 01:08] iurisilvio opened #65 "Django tests are broken"
Django 1.9 released today and soapfish tests against the last version.

[2016-01-02 12:47] #49 closed

[2016-01-02 12:47] #62 closed

[2016-01-02 12:47] #65 closed

[2016-01-02 12:55] FelixSchwarz opened #70 "Travis: test against different versions of Django (Flask as well?)"
We had a couple of bugs that soapfish's Django integration stopped working due to changes in Django. I'd like to ensure that we support at least the latest django for each Python version (which means to use an older Django for Python 2.6 for example). Ideally we could also test the earliest supported method so we can be sure about the versions which should work.

If other frameworks are problemati

[2016-01-22 13:17] FelixSchwarz commented on #59
PythonicTestcase 1.3.0 supports SkipTest and @expect_failure.

[2016-01-23 23:02] FelixSchwarz commented on #59
implemented in 9dd3d58160daf6368af0363ac172b3a126c1bafd

[2016-01-23 23:02] #59 closed

[2016-01-26 22:18] FelixSchwarz commented on #46
Can we close this as #55 got merged?

[2016-01-26 22:19] FelixSchwarz commented on #45
iurisilvio added a lot of missing features in soapfish in the last months so I wanted to give your WSDL a try but unfortunately the links are dead. Would you mind uploading the WSDL again?

[2016-01-28 16:21] pope1ni opened #74 "Release soapfish on PyPI"
We should release a proper package for `soapfish` on PyPI.

(Perhaps this should be added to the `0.6` milestone?)

[2016-01-28 16:41] pope1ni opened #75 "Crash in wsdl2py related to <wsdl:part>"
Running `python -m soapfish.wsdl2py -c 'http://slednev.ru/example.wsdl'` results in the following crash:

[code]

This issue was introduced in e04a585c.

**Note:** This ticket is based on a problem found in flightdataservices/soapbox#23

[2016-01-28 16:49] pope1ni commented on #45
This seems strange to me. The exception `ValueError: Attempted relative import in non-package` implies that either the `soapfish` directory is not a python package (missing `__init__.py`) or there is a misconfiguration of with `PYTHONPATH`.

The links to the WSDL and traceback have expired. Are you still encountering this issue @gudddu? If not, we should close this issue as I cannot reproduce this

[2016-01-28 16:50] unk2k commented on #75
Hello! My WSDL was incorrect. I read RFC and found several errors. After fix all work fine.

[2016-01-28 17:10] pope1ni commented on #75
Can you confirm that the example at http://slednev.ru/example.wsdl is still incorrect then?

[2016-01-28 18:59] unk2k commented on #75
Oh. Sorry it's not possible. (I don't have it now)

[2016-01-28 21:10] FelixSchwarz commented on #75
Just wanted to mention that a different problem existed before e04a585 so no regression in functionality (even though it's clearly a bug).

[2016-01-28 21:16] iurisilvio commented on #46
Yes, closed! The `xsd:include` works. I already generated some code using private WSDLs with complicated `include`s and `import`s structure.

[2016-01-28 21:16] #46 closed

[2016-01-29 16:31] pope1ni commented on #74
@felixschwarz: I have created the project on PyPI in preparation and added you as an owner.

[2016-01-30 00:50] FelixSchwarz commented on #74
@pope1ni  in #73 you mentioned that you have a couple of fixes you'd like to land before releasing. Just in case you have a specific timeframe in mind please let me know.

[2016-02-01 09:17] pope1ni commented on #74
I'm working on those at the moment so will be submitting stuff over the next few days.

[2016-02-15 11:59] iurisilvio opened #78 "XSD elements order must not be important"
Related to #72 PR failing test.

Soapfish generate invalid code if xsd:restriction and xsd:extension are defined before the base element.

I'm trying to fix it, but I don't know the best approach:

1. Reorder XSD elements in runtime.
1. Make `EXTENSION` and `RESTRICTION` classes inherit from `ComplexType` and define the class as a class attribute.
1. Make `EXTENSION` and `RESTRICTION` render after

[2016-02-21 10:25] FelixSchwarz commented on #78
I think like option 1 as it seems this will require the last amount of changes for existing users and reordering could be useful for similar cases in the future. Option 2 doesn't sound too bad either, option 3 seems to be a very narrow solution (but might be worth it if the result code is ok to read).

Disclaimer: Please take these thoughts with a grain of salt. In the end we mostly need tests and

[2016-02-22 14:34] iurisilvio commented on #78
I didn't started it yet, but I think the option 1 is the best. Will try it this week and send some work in progress.

[2016-02-22 17:46] iurisilvio commented on #78
It is done in my branch: https://github.com/FelixSchwarz/soapfish/compare/master...iurisilvio:xsd_reordering

I don't like the solution yet. It works for my test, but I know some failing corner cases.

[2016-02-22 20:17] iurisilvio commented on #78
I rewrote my implementation, using the default Python `.sort(cmp)`. It looks better now.

I don't know every XSD schema detail, maybe it fails in specific cases (can I have a `xsd:extension` and `xsd:restriction` in the same `complexType`?), but I think it is good enough.

I'm trying it with my really complicated WSDLs to check if it fix my problem.

[2016-02-22 20:52] iurisilvio commented on #78
Python 3 doesn't have the `sort(cmp=)` kwarg, but `functools.cmp_to_key` handle the problem nicely.

[2016-02-22 21:02] iurisilvio commented on #78
I did the PR. It fixed my test and works with my WSDLs.

[2016-02-24 00:27] iurisilvio opened #80 "Implement all xsd:sequence possible children"
A `xsd:sequence` can have these children: `element|group|choice|sequence|any`

For now, soapfish expect only `element`.

[2016-02-24 11:37] madsweitling opened #81 "wsdl2py fails if 'operation' element has no 'output' child element"
When running the following, an exception is raised in `soapfish.wsdl12.Operation.get_OutputMessage`:

[code]

[minimal.wsdl](https://github.com/FelixSchwarz/soapfish/files/144479/minimal.wsdl.txt)

[2016-02-24 12:08] FelixSchwarz commented on #81
Thank you very much for reporting the issue. I can reproduce this. One thing I have to double check is if this is a valid WSDL (is "output" optional?). You could help me here by looking for  some spec and/or suggest a fix.

[2016-02-24 13:46] madsweitling commented on #81
I'm not too sure myself :) But the original WSDL file loads in Eclipse and Wizdler (Chrome extension). Validating `minimal.wsdl` against `validwsdl.com` gives no errors.
Validating `minimal.wsdl` against `wsdl-analyzer.com` gives an (unrelated?) error regarding the `use` attribute on the `soap12:body` child element. See http://www.wsdl-analyzer.com/service/service/1807005354?version=1

[2016-02-24 21:00] RealJTG opened #82 "wsdl2py — ValueError: Unicode strings with encoding declaration are not supported"
[code]
Can be fixed by adding `xml.encode(encoding)` at [wsdl2py.py#L64](https://github.com/FelixSchwarz/soapfish/blob/a9f6c4c721d0dd22aa35d42f046d225cb1bbabb8/soapfish/wsdl2py.py#L64) but I'm not quite sure what's actually happening there, because if you save file locally and run `wsdl2py.exe -c WayBillService.wsdl` it works fine.

Jinja2==2.8
MarkupSafe==0.23
argparse==1.4.0
lxml==3.4.4
pythonic

[2016-03-08 10:44] pope1ni commented on #82
My apologies - this bug was actually introduced by 0fbd617 and the fix is to change [utils.py#L20](https://github.com/FelixSchwarz/soapfish/blob/0fbd617a14b656a2ca1e9580bc02e3bd50465894/soapfish/utils.py#L20) to use `.content` instead of `.text` so that we have the raw binary string to pass to the XML parser.

I already have this change and a number of other fixes queued up to submit, but it is ta

[2016-03-13 20:39] #78 closed

[2016-03-13 20:42] FelixSchwarz commented on #45
@gudddu Unfortunately I don't have enough information so I can't fix this issue. Feel free to reopen if you can provide the necessary information and sorry it took us so long for coming back to you.

[2016-03-13 20:42] #45 closed

[2016-03-13 20:54] FelixSchwarz commented on #81
@madsweitling I just checked and I think your WSDL is correct ( https://www.w3.org/TR/wsdl#_one-way ). I don't have much time available right now. Can you work around the problem locally right now?

[2016-03-21 15:30] pope1ni commented on #81
I have been working on a lot of fixes and this one should be solved in my [improvements](https://github.com/flightdataservices/soapfish/tree/improvements) branch by the commit range [fe05c22...1dff9fd](https://github.com/flightdataservices/soapfish/compare/fe05c22...1dff9fd). I still have a few more things to finish before I submit a pull request.

[2016-03-21 15:32] pope1ni commented on #82
I have been working on a lot of fixes and this one should be solved in my [improvements](https://github.com/flightdataservices/soapfish/tree/improvements) branch by the commit [45c2532](https://github.com/flightdataservices/soapfish/commit/45c2532). I still have a few more things to finish before I submit a pull request.

[2016-03-21 16:08] pope1ni commented on #70
I have been working on a lot of fixes and this one should be solved in my [improvements](https://github.com/flightdataservices/soapfish/tree/improvements) branch by the commit [7c968ac](https://github.com/flightdataservices/soapfish/commit/45c2532). I still have a few more things to finish before I submit a pull request.

[2016-03-22 14:46] thomas-mangin opened #83 "xsd2py failing"
Hello Felix,

I never had to use xsd/wsdl/soap before but I am trying to find a library which can help me implement correctly a tr-069 server (instead of just generating/parsing the XML 'by hand') like many available open source projects.

soapfish seems to be a good contender for the job but before I can even get started I have this issue.
Any help would be welcomed ! Thank you.

[code]

[2016-03-22 15:34] pope1ni commented on #83
I have been working on a lot of fixes and this one _**might**_ be solved in my [improvements](https://github.com/flightdataservices/soapfish/tree/improvements) branch by the commit [828e4a5](https://github.com/flightdataservices/soapfish/commit/828e4a5). I still have a few more things to finish before I submit a pull request.

[2016-03-22 15:44] FelixSchwarz commented on #83
@thomas-mangin Can you try Nick's branch as suggest in his comment above?

[2016-03-22 16:09] thomas-mangin commented on #83
I was pretty sure to run this branch but to make absolutely sure, I done this ( OSX )
[code]

[code]

[code]

[code]
So it seems the bug is still present in this branch -- sorry :cry:

[2016-03-22 16:13] thomas-mangin commented on #83
And sorry - I should have said I was running Nick's branch - but looking at the recent tickets it looked like the code to run to try parse complex XSDs.

[2016-03-22 17:56] thomas-mangin commented on #83
Being an open source developer too, I can appreciate your position. As it seems your library is the right fit for us, you will most likely see me pop up back here in a few weeks - I hope you won't mind the pestering if your life an work got in the way of happy hacking :smile:

Thank you for your help so far.

[2016-03-22 19:33] FelixSchwarz commented on #83
Looking forward to your questions/contributions :-)

[2016-03-22 21:58] iurisilvio commented on #83
It is related to my changes to support relative paths and these imports.

[code]

When I had this problem, I just removed these imports and it worked. Of course it is not the fix, just a quick hack.

I'll try to fix it soon.

[2016-03-23 12:14] pope1ni commented on #83
@iurisilvio I have further changes I was working on related to the relative path issues so I'll look at your changes and compare to mine. I should be able to push further updates later today.

[2016-03-23 13:20] FelixSchwarz commented on #83
Based on what @pope1ni  said is it ok if I wait a bit with merging?

@iurisilvio: thank you very much for your quick fix, much appreciated.

[2016-03-23 14:08] iurisilvio commented on #83
Yes, wait for @pope1ni. Feel free to use my changes or ignore it if you already did something to fix this issue. :+1:

[2016-03-29 08:00] madsweitling commented on #81
@FelixSchwarz I'm working around the issue locally.
@pope1ni Thanks for your fixes, I'll see if I can try them out with my offending WSDL.

[2016-03-29 08:46] madsweitling commented on #81
@pope1ni I gave your improvements branch a spin, however I'm getting a different exception using the same minimal.wsdl posted earlier. I get the same exception when trying the original offending WSDL file.

    (.venv)mads@work:~/github/soapfish-improvements$ python -m soapfish.wsdl2py -s ~/minimal.wsdl
    Traceback (most recent call last):
      File "/usr/lib/python2.7/runpy.py", line 162, in _

[2016-04-05 13:23] pope1ni commented on #81
Right. So I have solved the issue raised in the original report in my branch as mentioned. What you are seeing now is a bug being tracked in #75. The `ValueError` was introduced in e04a585. Before this commit only a single `<wsdl:part>` element was supported in soapfish and after some areas of the code were corrected to support multiple elements, but the support for it is incomplete.

[2016-04-05 15:27] madsweitling commented on #81
@pope1ni You are right, I'm seeing #75 now. @FelixSchwarz Feel free to close this bug since it's probably a duplicate of #75 now.

[2016-04-05 15:54] FelixSchwarz commented on #81
@madsweitling you could do it yourself :-)

closing as duplicate of #75 as per comments above.

[2016-04-05 15:54] #81 closed

[2016-06-03 16:15] bliedblad opened #85 "django_.django_dispatch fails when request type is ASGI -> request.environ not found."
My Django application uses soapfish to provide a SOAP service. This service provides an async callback mechanism for long running functions for calls made on a remote SOAP server.

I also need to provide feedback to the user when the long running process completes (without refresh). Websockets seemed to me the correct way to go, so I added Channels to my Django application.

This caused the follow

[2016-06-05 14:00] FelixSchwarz commented on #85
Supporting ASGI directly sounds like a neat addition here. The main thing we need to make sure that the core library still works with plain WSGI and/or if the change requires a newer version of Django.
(For your pull request you might want to develop against the "soapfish" repo from FlightDataServices as I'll pull their changes soon enough. The pull request can go through this repo though.)

[2016-06-14 00:45] iurisilvio opened #86 "Support more than one part"
WSDL support more than one message part, but soapfish hard refuses it.

https://github.com/FelixSchwarz/soapfish/blob/master/soapfish/wsdl11.py#L51

[2016-06-14 13:18] iurisilvio commented on #86
True! I searched the issues before create this one, but didn't found. :+1:

[2016-06-14 13:18] #86 closed

[2016-06-28 07:06] funkybob opened #88 "xsdspec.AttributeGroupReference uses undefined function "get_type" in `to_python` method"

[2016-06-30 12:06] #70 closed

[2016-06-30 12:27] FelixSchwarz commented on #85
just wanted to mention that I pulled a lot of changes from Nick so this repo should be suitable for pull requests again. :-)

[2016-06-30 12:29] FelixSchwarz commented on #82
I pulled the changes from @pope1ni and it works for me now.

[2016-06-30 12:29] #82 closed

[2016-06-30 12:41] FelixSchwarz commented on #88
Congrats - you managed to find some functionality which never worked. I followed the commits back to ec1e096a2f3352d6626faffb14677baa3a588ba9 (the initial commit of this repo).

We have some `get_type()` helper in `soapfish/utils.py` which might part of the solution. Due to time constraints I can't look into the actual XSD specification for AttributeGroupReference so I'm not sure what should be re

[2016-07-05 13:50] pope1ni commented on #85
We should look into this for soapfish 0.7.0 - support for channels in Django is still relatively new and under significant development and should not hold us back from getting 0.6.0 released.

Please feel free to submit a pull request.

[2016-07-05 14:40] pope1ni opened #89 "Drop support for Python 2.6"
I had dropped support for Python 2.6 but it was still required by @FelixSchwarz so it has been restored.

When we decide to go ahead with this we should:
- [x] Revert fixes for Python 2.6 in 641d7e7
- [x] Revert fixes for Python 2.6 in 895cb54
- [x] Revert fixes for Python 2.6 in 6c4abd3
- [x] Revert fixes for Python 2.6 in f7c2dd9
- [x] Revert fixes for Python 2.6 in 364af26
- [x] Make any other

[2016-07-05 14:54] pope1ni commented on #85
We may well be interested in the future as we heavily use Django.

[2016-07-05 16:29] bliedblad commented on #85
I'm probably not the best one to implement this change; however, should anyone need this functionality in the future... I believe the "fix" outlined in my initial comment works for both ASGI and WSGI.

I no longer need this functionality as shortly after I discovered the work-around, I ran into a few roadblocks with Channels.

After a LOT of searching I found another package called [Hendrix](https

[2016-07-06 11:23] pope1ni opened #90 "Implement support for WS-Security"
See the following links for further details:
- flightdataservices/soapfish#10
- https://code.google.com/archive/p/soapbox/issues/10

[2016-07-27 14:12] pope1ni opened #91 "Refactor handling of location rewriting."
Currently we have multiple ways of handling rewriting of locations in `soapfish.soap.Stub`:

1. Pass the `location` argument when initialising.
2. Pass the `base_url` argument when initialising to extract a *scheme* and *host* from.
3. Alter the `SCHEME` and `HOST` class attributes. (Although this means changing generated code.)

See https://github.com/soapteam/soapfish/blob/737fefc/soapfish/soap.

[2016-07-27 14:30] FelixSchwarz commented on #91
sounds reasonable to me. Any plans to implement this? :-)

[2016-07-27 16:19] pope1ni commented on #91
Yes. The first part is easy, the second - rewriting the WSDL locations - I haven't given much thought to yet.

I've just hacked something ugly in my project for now as I haven't got the time over the next few days.

[2016-07-28 13:46] pope1ni commented on #91
I opted not to remove the approach using templates for now because I couldn't think of anything sane...

Closed with the commit of 23701d0. We can reopen if we decide to tidy up the template bit.

[2016-07-28 13:46] #91 closed

[2016-08-09 13:34] iurisilvio commented on #90
I have it implemented in my server as a middleware.

[code]

You just have to add it to your `Service`:

[code]

I did some classes to handle it, so maybe something is wrong in this code.

[2016-11-03 13:17] franzem opened #92 "wsdl2py with imported xsd fails"
I am using wsdl2py to generate the wsdl classes from a wsdl that imports three separate .xsd files.

The generated file doesn't parse:

in python2.7:
[code]

in python3.4:
[code]

As an example, the full generated class looks like this, but it seems to have done this for all the .xsd files.

[code]

the ```__name__ + '.class'```  doesn't seem to be valid python in either 2/3. I assume this is an a

[2016-11-03 15:04] pope1ni commented on #92
Hi @franzem,

Are you using the latest commit in the master branch? Also, do you have example *.wsdl and *.xsd files that you can upload for us to test against?

You are quite correct that this is generating invalid code. I have seen this issue before, but it has been a while...

Thanks,

Nick

[2016-11-03 15:19] franzem commented on #92
Hi Nick,

yes, used latest master. wsdl attached,

thanks for your quick response and help!

[wsdl.zip](https://github.com/soapteam/soapfish/files/569350/wsdl.zip)

[2017-03-26 15:13] iurisilvio commented on #92
I wrote a related broken test in the past #72 and @pope1ni make it work, but the extension with an imported parent wasn't tested.

The children must known the parent types, so I had to propagate `known_types`. #93

I tested @franzem wsdl and it worked. It has just an small error with unknown `xsd.PositiveInteger`, but it is another issue.

[2017-03-26 20:03] iurisilvio commented on #83
I tested this XSD file today and it failed for another reason. This issue is fixed.

`xsd2py https://www.broadband-forum.org/cwmp/cwmp-1-4.xsd`

Now it fails with another error.

[code]

First the command failed because the site does not accept requests `User-Agent`. I hard coded changed it just to test the issue.

[2017-03-26 21:05] iurisilvio opened #94 "Do not import base namespaces"
Some schemas import XSD namespaces, like `http://schemas.xmlsoap.org/soap/envelope/` and `http://schemas.xmlsoap.org/soap/encoding/`.

What is the right way to avoid import these URLs? Per domain? Any URL in `namespaces` module? Only these two hard-coded?

[code]

As a side note, `xsd2py` generate broken code with them.

[2017-03-26 21:07] iurisilvio commented on #92
Removed the label `waiting for additional information`.

[2017-03-26 22:49] iurisilvio opened #95 "Remote imports are handled as local files"
[code]
The include statement is:

[code]

[2017-03-27 13:35] iurisilvio commented on #95
@pope1ni can you review my PR before merge?

It is related to some of your last changes, maybe you have something to add.

[2017-04-18 09:47] pope1ni commented on #95
@iurisilvio I'll try to have a look at this and the others in the next couple of weeks - have a lot of things to catch up on at the moment as have been away.

[2017-04-19 11:17] pope1ni commented on #83
If I recall, the issue we had was to do with whether imported files were local or remote and this would be affected in different ways depending on whether the initial path provided on the command line was local or remote.

In this instance, although the initial path was a remote path, the code originally checked whether the path started with a slash to determine whether it was local. In the remote

[2017-04-19 13:45] iurisilvio commented on #83
You are correct. I fixed the problem with the relative paths for remote files, that were handled as local paths.

If you download the file and run it, I think all WSDL/XSD readers will fail too, because you don't have the original URL reference. Maybe we can provide a way to reference it from command line, but I don't think it is a real issue, you have to download all your xsd schema tree.

[2017-04-19 14:35] #92 closed

[2017-04-19 15:45] #95 closed

[2017-04-19 16:08] pope1ni commented on #83
PR #93 was irrelevant to this issue, but PR #96 resolved the issue in the latest stacktrace above.

In addition, I fixed two additional problems in 2ef18c8 and 3ac2a6b that affected the schema file in question.

Now we are blowing up because we always expect `<xs:restriction>` as a child of `<xs:simpleType>` but don't handle `<xs:union>` as a child which contains `<xs:restriction>` with `<xs:enume

[2017-05-02 08:32] techdragon opened #97 "Named XSD Element with unnamed complexType child generates invalid python."
I'm dealing with a 3rd party vendor and their XSD schema seems to have revealed a shortcoming of soapfish's `xsd2py` functionality, and by extension, its `wsdl2py` functionality as well.

The trouble seems to be when an element and complex type are used like this in an XSD.

[code]

Initially this was just failing to generate at all, throwing a `TypeError: 'NoneType' object is not subscriptable`,

[2017-05-02 11:00] pope1ni commented on #97
@techdragon: Could you attach a full *.xsd and *.wsdl? Also if you could submit a pull request, then I can see what changes you are trying to make and better understand the problem. Thanks.

@oskrkal: Just been made aware of your fork. Were you planning to submit a pull request for your fixes? Or are you happy for me to pull in some of the changes?

[2017-05-02 13:07] iurisilvio commented on #97
This is the diff: https://github.com/FlightDataServices/soapfish/compare/95f902d9d4e848034946ed0f56b450b9b7c4d28c...oskrkal:references

It's a lot of changes.

[2017-05-02 13:34] vpistis opened #98 "wsdl2py jinja2 template not found"
Hi,

the command: `wsdl2py --client mysoap.wsdl` return this error:
[code]

Any idea?

Thanx :)

[2017-05-02 16:19] techdragon commented on #97
@pope1ni I'm not able to submit the *actual* WSDL and XSD files, corporate confidentiality reasons. I'll try and make a minimal test case XSD & WSDL at work tomorrow, worst case I can post the full XSD & WSDL after I sanitise them. I'll also make a pull request so you can see the changes.

@pope1ni If I'm going to add some test coverage for the pull request... would it be better to modify one of t

[2017-05-03 08:53] pope1ni commented on #97
Thanks. A minimal test case would be useful. I'd add separate test resources for now. We can always combine them later if it makes sense.

[2017-05-04 08:23] techdragon commented on #98
#99 Should fix this.

[2017-05-04 08:43] pope1ni commented on #98
Fixed by cde510b.

[2017-05-04 08:43] #98 closed

[2017-05-04 09:22] vpistis commented on #98
thanks a lot, I try it in these days

[2017-05-08 01:54] techdragon opened #102 "Add template file extensions."
File extensions enable automatic syntax highlighting in the majority of code editing tools. Many editors only provide the ability to syntax highlight based on a file's extension, so files without an extensions _cannot_ be highlighted in such editors. Providing file extensions to fix this.

I've created PR #101 as a small quality of life improvement.

[2017-05-08 03:04] techdragon commented on #89
@pope1ni @FelixSchwarz - Is 2.6 still needed?

[2017-05-08 07:38] FelixSchwarz commented on #89
We still have a couple of Python 2.6 servers with soapfish but these are scheduled for migration to Python 2.7/3.4 anyway so I'm fine with removing 2.6 support if you feel it makes the code simpler.

[2017-05-08 10:47] pope1ni commented on #89
Consider it scrapped - 7e41de1.

[2017-05-08 10:47] #89 closed

[2017-05-08 10:53] pope1ni commented on #94
@oskrkal: might this be addressed by your [xsd-resolver](/oskrkal/soapfish/tree/xsd-resolver) branch?

[2017-05-08 15:17] pope1ni opened #103 "Round trip through wsdl2py and py2wsdl should be consistent."
Round trips through the code generation and back to the WSDL are inconsistent.

[code]

put through code generation becomes:

[code]

which going back incorrectly becomes:

[code]

...and so on...

Also of note is that `soapfish.py2wsdl` expects `SERVICE` which isn't available without editing the name of `PutOpsPort_SERVICE`.

I've put this into the 0.7.0 milestone as whatever fix we come up with

[2017-05-08 15:23] pope1ni opened #104 "Create <wsd:documentation> or <xs:documentation> from docstrings and vice versa"
This should be relatively trivial to implement...

[2017-05-09 06:29] techdragon opened #105 "Python code generation behaviour when dealing with valid XML that represents an invalid WSDL"
I decided to add some extra test cases by using the [W3C WSDL 2.0 Test Suite](https://dev.w3.org/2002/ws/desc/test-suite/index.html) and I've quickly run into a rather fundamental question.

What should we do when asked to generate code for an invalid WSDL? I'll quote the W3C doc to help explain.

What should soapfish do when asked to generate code for such an invalid document?

I'm in favour of a

[2017-05-09 08:55] pope1ni commented on #105
Agreed. Permissive is best as there are too many bits unimplemented. We could try to implement a strict mode, but we'd have to blow up for everything that isn't supported yet.

[2017-05-10 09:25] pope1ni opened #108 "Repetition in xs:pattern broken by string formatting."
`SOAPDispatcher.handle_wsdl_request()` fails when using the following code:

[code]

It is correctly converting the code to the following:

[code]

The problem then arises with the string formatting to substitute `{scheme}` and `{host}` which fails because there is no value to substitute for `{3}`.

The fix unfortunately requires a breaking change to templating from using `str.format()` to [`strin

[2017-05-10 09:52] #108 closed

[2017-05-14 05:37] bkalantzis opened #109 "wsdl2py failing"
I'm attempting to use the wsdl2py to generate client code from a wsdl file.  The code generated has __name__+'.TheClassName' instead of the actual name in the class declerations:

[code]

[2017-05-14 13:41] iurisilvio commented on #109
We have a reordering strategy to avoid this situation, but your case is not handled properly.

`xsd2py._reorder_complexTypes` put types with extensions/restrictions before the other types, but your WSDL the `TLORequestInput` and `TLOGenericSearchInput` have extensions.

I'll try to improve this reordering to fix this problem.

[2017-05-23 04:29] techdragon opened #110 "Fix Github parent child relationship with FlightDataServices/Soapfish"
At the moment it appears that the majority of work takes place in soapteam/soapfish however since its a fork of FlightDataServices/Soapfish, this breaks a number of useful tools like repository code search.

If its just an accident of history, It would be a good idea to contact GitHub and ask their help in fixing this by either reparenting soapteam/soapfish as not a fork of FlightDataServices/Soap

[2017-05-23 08:41] pope1ni commented on #110
This may be a little difficult now. I had originally suggested to @FelixSchwarz that we move the FlightDataServices repository to the soapteam organisation which would have resulted in what you are suggesting, but he preferred at the time to move his personal fork and I was happy to go along with his desires as he had been maintaining it for so long at that time.

Now, I might be able to delete th

[2017-05-24 01:37] techdragon commented on #110
@pope1ni I agree it could be a little difficult to clean up. Which is why in the very least it seems the smartest first step would be to contact GitHub as they appear to have some capability to resolve this sort of thing via their support team.

They definitely have the ability to simply detach this repository from [FlightDataServices/soapfish](https://github.com/FlightDataServices/soapfish) witho

[2017-05-25 07:52] oskrkal commented on #94
@pope1ni:  I'm sorry for late response, I somehow missed your comment.

I'm not sure if I understand the problem correctly. Is it that the schemaLocation attribute is not mandatory and only the namespace is sometimes specified in the import attribute? If so, the XSDCachedSchemaResolver indeed could address this issue. It allows to pre-define schema location for specific namespaces and is then able

[2017-05-25 16:15] pope1ni commented on #94
@iurisilvio: can you clarify - my understanding from what you have written was that these shouldn't be imported at all?

[2017-05-26 12:14] iurisilvio commented on #94
Yes, I think `soap/envelope` and `soap/encoding` should be ignored. We implement them internally.

I have some third-party WSDLs with these imports, I can't use soapfish with them. Even if the generated code is not broken, it is still a lot of useless code.

These namespaces are in https://github.com/soapteam/soapfish/blob/master/soapfish/namespaces.py#L22, maybe we can use it to define these "ign

[2017-05-31 20:02] oskrkal commented on #94
All right, thanks for clarification. Then I think `XSDSchemaResolver`/`XSDCachedSchemaResolver` in my xsd-resolver branch is not the right place to address this problem. Its purpose is simply to load a schema file from correct location, parse it and return it to the caller, or to return a cached `xsdspec.Schema` instance if the schema has already been processed.

We probably need to somehow preloa

[2017-06-29 10:53] trikkegitaar opened #111 "wsdl2py should mangle python keywords and reserved symbols"
When the WSDL contains element names like "in", then the generated code fails to compile because "in" is not a valid name.
Suggest to prefix or suffix the name.

[2017-06-29 11:26] pope1ni commented on #111
I believe that this is already handled using the `keyword` package from the python standard library.
See https://github.com/soapteam/soapfish/blob/638b198/soapfish/utils.py#L156-L185

There may be an edge case that has been missed. Can you attach an example WDSL?

[2017-06-29 13:10] trikkegitaar commented on #111
I'm sorry, I got the problem in soapbox and I just noticed this module is deprecated by soapfish. Tried to install the soapfish package, but that gives me the error:

  Could not find a version that satisfies the requirement soapfish (from versions: )
No matching distribution found for soapfish

Tried this with both python27 en python36, same result. Pip was upgraded to 9.0.1. Any hints?

[2017-06-29 15:35] pope1ni commented on #111
Sorry - soapfish has not had a release on PyPI yet and you'll have to install it from the master git branch.

Please can you close this issue if the problem no longer exists.

[2017-06-30 04:58] trikkegitaar commented on #111
Okay got it. I'm a newbie, so apologies for stupid questions...

[2017-06-30 04:58] #111 closed

[2017-06-30 05:40] trikkegitaar opened #112 "soapfish.xsd.Time is missing"
Code generated from WSDL using the xsd:time type does not compile.
Reproduce with:
`python -m soapfish.wsdl2py -c https://pastebin.com/raw/jZhiY26L > test2.py`

[2017-07-04 11:40] pope1ni commented on #112
Hopefully this should work for you now.

[2017-07-10 12:51] Elektroi opened #113 "wsdl2py throws AttributeError: 'Part' object has no attribute 'split' error"
Hello,
I'm attempting to use the wsdl2py to generate server code from a wsdl file. This is the wsdl [link](https://github.com/knutster/OCPP/blob/master/ocpp_chargepointservice_1.5_final.wsdl)
When I execute:
`python -m soapfish.wsdl2py -s  wsdl/ocpp_chargepointservice_1.5_final.wsdl test.py`

Python throws:

[2017-07-10 14:21] #113 closed

[2017-07-10 14:22] pope1ni commented on #113
I've pushed a quick fix that should help you to move past this issue.

[2017-07-10 20:08] iurisilvio commented on #109
I don't have a fix for it yet.

The issue here is the restriction use the namespace `<xs:extension base="s0:TLORequestInput">` and I don't know how to get the namespace information. If I'm able to order based on `("http://tlo.com/", "TLORequestInput")`, it'd be an easy patch.

[2017-07-27 16:33] luisza commented on #74
Hi, It's pass more than a year since your last release, could be great if you could  release this package on pip.

Great work guys.

[2017-07-31 13:57] pope1ni commented on #74
Hi @luisza,

There are still some issues outstanding in the [v0.6.0](https://github.com/soapteam/soapfish/milestone/1) milestone. You could help to speed up the process of releasing this version to PyPI by submitting some pull requests to address these items.

Thanks!

[2018-04-23 16:16] luisza opened #115 "Multiples schema fail to validate in server mode"
Hi,  I am trying to create a soap server to emulate this service
https://atvwse.hacienda.go.cr/WSEFirmaXML/SConsultaXMLWCF.svc

Code generation works well, but when I include django service I received this message

![extra_content_error](https://user-images.githubusercontent.com/7146904/39139439-283717b0-46df-11e8-86ec-45e8ec0c2f5f.png)

Looking the xml generate and looks like this,
[xmlschema.txt

[2018-08-10 12:56] FelixSchwarz commented on #110
I asked github this morning - I'll leave a note here once I got their answer.

[2018-08-22 06:51] FelixSchwarz commented on #110
@pope1ni I got a reply from github support and I need an explicit approval from an admin of the FlightDataServices github organization. Assuming you are still ok with fixing the parent/child relation can you please contact me by mail?

[2018-08-27 07:50] erasmodanarni commented on #90
Could I see an example of client code call to a SOAP service with user authentication in headers?

[2018-08-27 09:10] erasmodanarni opened #116 "Client connection to a SOAP service with authentication"
Is there an example to look at for a connection to a server with authentication? Something that is able to produce a header like this one below:

[code]

Many thanks in advance.

[2018-08-27 09:46] erasmodanarni opened #117 "After Enumeration a comma is missing when generating a client code from a locally saved WSDL file"
When running the example client code against this WSDL:
https://registri.sian.it/wsTOAST/services/wsRegVino?wsdl

downloaded locally as `sian.xml`:

`python -m soapfish.wsdl2py -c sian.xml`

I get all `xsd.Element(xsd.String(enumeration=` without a comma after the closing square bracket.

[code]
See also the following gist:
https://gist.github.com/erasmodanarni/0c7961abc060be2577089e2188f810df

[2018-08-28 09:18] #117 closed

[2020-06-16 10:53] oimyounis commented on #115
This happens to me too when I try to include more than one schema. Has anyone found a fix for this issue?

[2020-09-14 19:34] joaogqueiroz opened #118 "AttributeError: 'str' object has no attribute 'Service'"
Does anybody is having this error?

It's the soap.py class that cames with the lib, but I don't change nothing in this.

In my client class I have the same erro but, I've just change the word "self", for the class(CalculatorSoapServiceStub) and works.
Now  stopping in this class and I really don't know what to do.

I'm using:
Flask==1.1.2
Python 3.8.3

<details>
<summary>Copy of <code>soapfish/soa

[2020-09-14 21:04] pope1ni commented on #118
Please paste the full traceback for the exception. (You've included a copy of `soapfish/soap.py` which is unnecessary.)

[2020-09-14 21:09] joaogqueiroz commented on #118
[code]

[2020-09-14 21:34] joaogqueiroz commented on #118
I basically trying to do a proxy soap service, so my server will call the service and it will call the final enpoint and return the answear.

I'm using this endpoint to provide my classes(http://www.dneonline.com/calculator.asmx?wsdl)

Server
[code]
Client

[code]

[2020-09-14 21:55] pope1ni commented on #118
You're calling the method without instantiating an object of the stub class:
[code]

If you were to change this to the following it would likely work:
[code]

But you really ought to be using `self` here:
[code]

`self` will refer to the current instance of `CalculatorSoapServiceStub` that you are calling `.Add(...)` on.

[2020-09-14 21:55] #118 closed

[2020-09-15 00:31] joaogqueiroz commented on #118
@pope1ni  Tanks man it help me a lot.

I'm a kind of noob in python, I really try to call like you suggest but i was reciving an erro so I prefer to call the class in a direct form.

When i finish my tests I'll try a pull request tutorial with flask to help the community.

Thanks again.

[2020-09-15 06:02] pope1ni commented on #118
Methods are bound on instantiated objects. The first argument is typically named `self` by convention (or `cls` if you're using `@classmethod`).

When you do `self.call(…)` here, `self` is implicitly passed as the first argument giving the method a reference to the object it was called on.

You can call a method from the class, but then you need to explicitly pass the object for the `self` argumen

[2021-02-04 16:58] pope1ni commented on #110
Finally after all this time I've got around to this! Thank you both.

[2021-02-04 16:58] #110 closed

[2022-01-12 17:21] ngnpope commented on #85
So I looked into this and found the following:
- `django.http.HttpRequest` has [`.META`](https://github.com/django/django/blob/d05ab13c56849ed09d02c1f188b7f47f0c090a2a/django/http/request.py#L57) only.
- `django.core.handlers.asgi.ASGIRequest` has [`.META`](https://github.com/django/django/blob/d05ab13c56849ed09d02c1f188b7f47f0c090a2a/django/core/handlers/asgi.py#L57) only.
- `django.core.handlers

[2022-01-12 22:27] #85 closed